@{
    ViewData["Title"] = "Home Page";
}


<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
 
    <div class="carousel-inner">
        
        @{
            int i = 0;
        }
        @foreach (var ban in Model)
        {
            @if(i == 0){
                <div class="carousel-item active ">
                    <img class="bd-placeholder-img" width="100%" height="100%" src=@ban.Url aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>@ban.Heading</h1>
                    <p>@ban.Description</p>
                </div>
            </div>
        </div>
         }
         else {
             <div class="carousel-item">
            <img class="bd-placeholder-img" width="100%" height="100%" src=@ban.Url aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
            <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>@ban.Heading</h1>
                        <p>@ban.Description</p>
                    </div>
            </div>
        </div>

         }
            i++;
        }
        
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    <div style="margin: 10px; display: flex; justify-content:center">
        <a class="btn btn-dark btn-lg" asp-area="" asp-controller="Shop" asp-action="Index">
            <h2>Shop Now !</h2>
        </a>
    </div>
</div>


