/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

/*.adminpanelContainer {
    padding: 50px;
}*/
.adminpanelContainer {
    margin-left: 100px;
    margin-top: 100px;
    width: 800px;
    height: 100px;
}


