
<div class="container">
    <section style="margin-top: 40px">
        @*<h1 class="text-primary" style="margin-left: 150px; margin-bottom: 25px">Book Shop:</h1>*@
        <h3 class="fw-normal text-black" style="margin-left: 125px; margin-bottom: 20px">Items</h3>

        <div class="container">
            @foreach (var Product in Model)
        {            
            <div class="row justify-content-center">
                <div class="col-md-12 col-xl-10">
                    <div class="card shadow-0 border rounded-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                        <img src=@Product.ImageUrl
                                             width=200
                                             height=200
                                             class="w-100" />
                                        <a href="#!">
                                            <div class="hover-overlay">
                                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6">
                                    <h5>@Product.Heading</h5>
                                    <p class="text-truncate mb-4 mb-md-0">
                                            @Product.Description
                                    </p>
                                </div>
                                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                    <div class="d-flex flex-row align-items-center mb-1">
                                        <h4 class="mb-1 me-1">$@Product.Price</h4>
                                    </div>
                                    <div class="d-flex flex-column mt-2">
                                            <a asp-controller="Shop" asp-action="Cart" asp-route-id="@Product.Id" class="btn btn-primary btn-lg">
                                                <h6>Add To Cart</h6>
                                            </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </section>
</div>