@model Order

<section style="margin-left: 200px; margin-top: 20px">
    <div class="row">
        <div class="col-md-10 mb-4">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h5 class="mb-0">Biling details</h5>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="All"></div>
                    <form asp-controller="Shop" asp-action="Purchase" method="post">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <label asp-for="FirstName" class="form-label"></label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    <label asp-for="LastName" class="form-label"></label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <!-- Text input -->
                        <div class="form-outline mb-4">
                            <label asp-for="Address" class="form-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label asp-for="PhoneNumber" class="form-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <input asp-for="Status" type="hidden" value="recieved" />


                        <hr class="my-4" />

                        <button class="btn btn-primary btn-lg btn-block">
                            Purchase
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Credit card form -->
