<!-- Credit card form -->
<section style="margin-left: 200px; margin-top: 20px">
    <div class="row">
        <div class="col-md-10 mb-4">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h5 class="mb-0">Biling details</h5>
                </div>
                <div class="card-body">
                    <form>
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="form6Example1" class="form-control" />
                                    <label class="form-label" for="form6Example1">First name</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="form6Example2" class="form-control" />
                                    <label class="form-label" for="form6Example2">Last name</label>
                                </div>
                            </div>
                        </div>

                        <!-- Text input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="form6Example3" class="form-control" />
                            <label class="form-label" for="form6Example3">Company name</label>
                        </div>

                        <!-- Text input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="form6Example4" class="form-control" />
                            <label class="form-label" for="form6Example4">Address</label>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="form6Example5" class="form-control" />
                            <label class="form-label" for="form6Example5">Email</label>
                        </div>

                        <!-- Number input -->
                        <div class="form-outline mb-4">
                            <input type="number" id="form6Example6" class="form-control" />
                            <label class="form-label" for="form6Example6">Phone</label>
                        </div>

                        <hr class="my-4" />

                        <button class="btn btn-primary btn-lg btn-block" type="submit">
                            Purchase
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Credit card form -->
